@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("REGISTER_CONFIRMATION");
}

@inject DostPatiler.Resources.IdentityLocalizationService IdentityLocalizer

<section class="about">
    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                @IdentityLocalizer.GetLocalizedHtmlString("NORMALLY") <a id="confirm-link" href="@Model.EmailConfirmationUrl">@IdentityLocalizer.GetLocalizedHtmlString("CLICK")</a>
            </p>
        }
        else
        {
            <p>
                @IdentityLocalizer.GetLocalizedHtmlString("CHECK_YOUR_MAIL")
            </p>
        }
    }
</section>