@using System.Security.Claims;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model IEnumerable<DostPatiler.Models.Hayvan>

@{
    var hayvans = Model.Where(x => x.UserId == string.Empty).ToList();
    ViewData["Title"] = @localizer["Title"];
}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>@ViewData["Title"]</h2>
            <p>@localizer["CheckOut"]</p>
        </div>

        <div class="row portfolio-container">

            @foreach (var item in hayvans)
            {
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="@Url.Content(item.HayvanImage)" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="@Url.Content(item.HayvanImage)" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bi bi-plus"></i></a>
                            <a asp-area="" asp-controller="Hayvanlar" asp-action="Hayvan" asp-route-id="@item.HayvanId" title=@localizer["MoreDetail"]><i class="bi bi-link"></i></a>
                        </div>
                        <div class="portfolio-info">
                        @if (User.Identity.IsAuthenticated){
                            if (User.IsInRole("User")){
                                    var user = Model.Where(x => x.UserId == User.FindFirst(ClaimTypes.NameIdentifier).Value).FirstOrDefault();
                                    if (user == null)
                                    {
                                        <h4><a asp-action="MakeAnApplication" asp-route-id="@item.HayvanId">Sahiplen!</a></h4>
                                    }
                                    else
                                    {
                                        <h4>Aktif bir sahiplenme başvurunuz bulunmaktadır!</h4>
                                    }
                                }
                        }
                        else
                        {
                            <h4>Sahiplenme başvurusu için giriş yapın!</h4>
                        }
                        </div>
                        
                    </div>
                </div>
            }

        </div>
    </div>
</section><!-- End Portfolio Section -->