@using System.Security.Claims;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model IEnumerable<DostPatiler.Models.Hayvan>

@{
    var hayvans = Model.Where(x => x.Sahiplendirme == true).ToList();
    ViewData["Title"] = @localizer["Title"];
}

<section class="about">
    <h1>@localizer["AdoptionApplications"]</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HayvanTur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HayvanCins)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HayvanCinsiyet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HayvanYas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HayvanImage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in hayvans)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HayvanTur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HayvanCins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HayvanCinsiyet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HayvanYas)
                    </td>
                    <td>
                        <img src="@Url.Content(item.HayvanImage)" class="d-block w-50" asp-append-version="true" />
                    </td>
                    <td>
                        <form asp-action="SahiplendirmeOnay" asp-route-id="@item.HayvanId">
                            <input type="hidden" asp-for="@item.HayvanId" />
                            <input type="submit" value=@localizer["Apply"] class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>