@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DostPatiler</title>

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <div class="logo">
                <!-- <h1 class="text-light"><a href="index.html"><span>Ninestars</span></a></h1> -->
                <!-- Uncomment below if you prefer to use an image logo -->
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Index">@localizer["Home"]</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="About">@localizer["About"]</a></li>
                    <li><a class="nav-link scrollto" asp-area="" asp-controller="Hayvanlar" asp-action="Index">@localizer["Animals"]</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a href="#"><span>@localizer["Admin"]</span> <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    <li><a asp-area="" asp-controller="Admin" asp-action="Roles">@localizer["Roles"]</a></li>
                                    <li><a asp-area="" asp-controller="Admin" asp-action="UserList">@localizer["UserList"]</a></li>
                                    <li><a asp-area="" asp-controller="Hayvan" asp-action="Index">@localizer["AnimalList"]</a></li>
                                </ul>
                            </li>
                        }
                    }
                    <partial name="_LoginPartial" />
                    <li class="nav-link"><partial name="_Culture" /></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <main id="main">
        @RenderBody()
    </main>


    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>@localizer["Contact"]</h3>
                        <p>
                            İbni Sina Mahallesi <br>
                            Damat Sk.<br>
                            Gölcük/Kocaeli <br><br>
                            <strong>@localizer["Phone"]:</strong> +90 555 555 55 55<br>
                            <strong>@localizer["Email"]:</strong> info@dostpatiler.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h3>@localizer["Aboutl"]</h3>
                        <p>
                            @localizer["AboutlContent"]
                        </p>
                    </div>



                    <div class="col-lg-3 col-md-6 footer-links">
                        <h3>@localizer["KeepFollow"]</h3>
                        <p>@localizer["FollowUs"].</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Ninestars</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
                Designed by <a href="https://bootstrapmade.com/"><strong>BootstrapMade</strong></a>
            </div>
        </div>
    </footer><!-- End Footer -->
    <!-- Vendor JS Files -->
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
